[Unit]
Description=Puma Application Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/moneta/api
Environment="RAILS_ENV=production"
ExecStart=/usr/local/bin/bundle exec puma -C /home/ubuntu/moneta/api/config/puma.rb
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target
